<settings version="1">
  <section id="service.yamaha.monitor">
    <category id="general" label="128">
      <group id="1">
        <setting help="" id="yamaha_ip" type="string" label="32001">
          <level>0</level>
          <default>192.168.1.135</default>
          <control type="edit" format="ip">
            <heading>32001</heading>
          </control>
        </setting>
        <setting id="got_multicast" type="boolean" label="32005" help="">
	        <level>0</level>
	        <default>true</default>
	        <control type="toggle"/>
        </setting>
        <setting id="show_onscreen" type="boolean" label="32002" help="">
	        <level>0</level>
	        <default>true</default>
	        <control type="toggle"/>
        	<dependencies>
	            <dependency type="enable" setting="got_multicast">true</dependency>
            </dependencies>
        </setting>
        <setting id="screen_seconds" type="integer" label="32004" help="">
        	<level>0</level>
        	<default>3</default>
        	<constraints>
        		<minimum>1</minimum>
        		<step>1</step>
        		<maximum>30</maximum>
        	</constraints>
        	<control type="slider" format="integer">
        		<popup>false</popup>
        	</control>
        	<dependencies>
	            <dependency type="enable" setting="got_multicast">true</dependency>
            </dependencies>
         </setting>
        <setting id="video_pause" type="integer" label="32003" help="">
        	<level>0</level>
        	<default>10</default>
        	<constraints>
        		<minimum>0</minimum>
        		<step>1</step>
        		<maximum>30</maximum>
        	</constraints>
        	<control type="slider" format="integer">
        		<popup>false</popup>
        	</control>
        </setting>
      </group>
    </category>
  </section>
</settings>